<div class="form-container">
<section>
    <%= link_to "javascript:history.back()", class: 'btn-back' do %>
      <%= image_tag('arrow-left-solid.svg', alt: 'Home', class: 'icon') %>
      Previous Page
    <% end %>
  <header>Edit Profile</header>
  <%= render partial: 'form', locals: { user: @user } %>
</section>
</div>
