<div class="form-container">
<section>
    <%= link_to root_path, class: 'btn-back' do %>
      <%= image_tag('arrow-left-solid.svg', alt: 'Home', class: 'icon') %>
      <p>Home page</p>
    <% end %>
  <header>Register Form</header>
  <%= render partial: 'form', locals: { user: @user } %>
</section>
</div>
