.header {
    padding: 0 24px;
    height: 64px;
}

.plus-icon{
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 4px;
    align-items: center;
    color: #fff;
}

.show-users {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.show-users section {
    background-color: #fff;
    padding: 3rem 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
}

header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 24px;
    color: #333;
    text-align: center;
    display: flex;
    gap: 20px;

}

.users-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: start;
}

.user-card {
    background-color: #fefefe;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 8px);
    transition: transform 0.3s ease;
}

.user-card:hover {
    transform: translateY(-5px);
}

.user-info {
    margin-bottom: 16px;
}

.user-actions {
    display: flex;
    justify-content: space-between;
}

.btn:last-child {
    margin-right: 0;
}

.btn-view {
    background-color: #0e2f76;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
    flex: 1;
    margin-right: 4px;
    font-weight: bold;

}

.btn-view:hover {
    background-color: #1343aa;
}

.btn-edit {
    background-color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-align: center;
    flex: 1;
    margin-right: 4px;
    border: #0e2f76 solid 1px;
    font-weight: bold;

}

.btn-edit:hover {
    background-color: #e7e7e7;
}

.btn-delete {
    background-color: #dc3545;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
    flex: 1;
    margin-right: 4px;
    font-weight: bold;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-register {
    background-color: #0e2f76;
    padding: 12px 12px;
    border-radius: 4px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    align-self: center;
}

.btn-register:hover {
    background-color: #1343aa;
}

@media screen and (min-width: 1200px) {
    .user-card {
        width: calc(33.333% - 16px);
        justify-content: start;
    }

}

@media screen and (max-width: 1199px) and (min-width: 768px) {
    .user-card {
        width: calc(50% - 16px);
    }
}

@media screen and (max-width: 767px) {
    .user-card {
        width: 100%;
    }

    .user-actions {
        flex-direction: column;
        gap: 8px;
    }

    .btn {
        margin-right: 0;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .user-card {
        padding: 12px;

    }

    header {
        font-size: 1.8rem;
    }

    .btn {
        font-size: 12px;
        padding: 6px 10px;
    }
}